.avail {
  background-color: #90c2fb;
  height:4em;
  width:4em;
  margin: 0.8em;
  border: 1px solid #6C9BCF;
  border-radius: 4px;
  cursor: pointer;
}

.not-avail {
  height:4em;
  width:4em;
  margin: 0.8em;
  border: 1px solid #6C9BCF;
  border-radius: 4px;
  color: #6C9BCF;
}